Temp/__Backupscenes/0.backup
Temp/UnityLockfile
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
Library/SourceAssetDB
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/EditorInstance.json
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
RPG.sln
Assembly-CSharp.csproj
